.contact {
    height: 60vh;
    padding: 5rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #798C7A;
}

.contact h1 {
    font-family: 'Bodini';
    font-size: 6rem;
    text-align: center;
    text-decoration: underline;
}

.contact a:hover {
    color: #798C7A;
}

.intro {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.intro li {
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
    .contact h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .contact h1 {
        font-size: 3rem;
    }

    .intro li {
        font-size: 1rem;
    }
}


@media screen and (max-width: 760px){
    .contact h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 650px){
    .contact h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px){
    .contact h1 {
        font-size: 1.3rem;
    }
}
