html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #a8bfaa;
  color: #0d0d0d;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5rem;
}
